body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-18;
  color: $body-color;
  background-color: $body-bg;
}

h1,
.h1 {
  font-size: $h1-font-size;
  line-height: $line-height-36;
  letter-spacing: -0.6px !important;
}

h2,
.h2 {
  font-size: $h2-font-size;
  line-height: $line-height-30;
  letter-spacing: -0.4px !important;
}

h3,
.h3 {
  font-size: $h3-font-size;
  line-height: $line-height-26;
  letter-spacing: -0.2px !important;
}

h4,
.h4 {
  font-size: $h4-font-size;
  line-height: $line-height-24;
  letter-spacing: 0px !important;
}

h5,
.h5 {
  font-size: $h5-font-size;
  line-height: $line-height-22;
  letter-spacing: 0px !important;
}

h6,
.h6 {
  font-size: $h6-font-size;
  line-height: $line-height-20;
  letter-spacing: 0px !important;
}

body,
.body-text {
  font-size: $font-size-base;
  line-height: $line-height-18;
  letter-spacing: 0px !important;
}

caption,
.caption {
  font-size: $caption-font-size;
  line-height: $line-height-16;
  letter-spacing: 0;
}